Linkedin_Post_automation.json
{
  "name": "Linkedin Post",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "97d6d0be-2ee0-4721-99f5-221c9bd70db8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        96,
        0
      ],
      "id": "32453956-1e80-4874-a8e0-e23767353617",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "609c2562-f5cf-4230-8268-cd8923196ed4",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "1a7df8aa-f6b4-41e4-b3d9-eacbc7fde006",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "c708707f-6ad6-4ba3-9239-57881c4a2017",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "92181cdb-0396-49d5-bee6-6193418d1fc6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "news",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "e2159abe-cc05-43b0-9fed-9d4f6481b4a4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I'm creating a weekly digest from the latest AI articles for SMB executives. \nHelp me to pick 5 articles worth reading for these executives.\nOnly pick the ones that would be interesting for small and medium business owners.\n\n```\n{{ JSON.stringify($json.news) }}\n```",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        0
      ],
      "id": "66210f28-5c24-4be1-8021-42377e5848ab",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"articles\": [{\n      \"title\" : \"\", \n      \"link\" : \"\"\n    }]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        912,
        256
      ],
      "id": "4d7152af-ac45-4a20-9451-a2a2408d2c8a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        80,
        416
      ],
      "id": "f6313a1c-262e-415f-842b-71d1ce4b6fc7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        416
      ],
      "id": "1ca54617-0274-46c2-999b-21d75e93421a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "div",
              "cssSelector": "div",
              "skipSelectors": "e-con-inner"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        432,
        416
      ],
      "id": "0feb9aa7-b75f-4508-8198-89e8aa0653b1",
      "name": "HTML"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        416
      ],
      "id": "28417cdc-6f58-4d22-a156-4322e6c0922f",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a LinkedIn post with the title \"Here is everything that happened in AI this week\" and use the articles below to create an engaging content for SMB business owners.\n\n<instructions>\n- Don't use any markdown for the LinkedIn post as it's not supported (no bold, heading etc.) Use clear text for formatting.\n- Make sure to add the link to the article under its summary.\n- Add a summary of the post (hook) to the beginning of the post. It should consist of 2 short sentences, and needs to grab the attention. Make sure to mention AI in it.\n- also make sure the news summaries explains why it's important for SMB business owners, make it one sentence.\n</instructions>\n\n<articles>\n{{ JSON.stringify($json.articles) }}</articles>\n      ",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        288,
        848
      ],
      "id": "8827a962-dc97-46e3-92c8-aceb24fe1aea",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -336,
        1312
      ],
      "id": "c5385dad-9efd-46c1-93ee-c6d4005bd99a",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "HMdwPvlUWsamlZcx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the following linkedin post to match the style of the example post.\nMake sure to keep it as plain text\n\n<ExamplePost>\n\nSo… I finally stopped overthinking and shipped it.\n\nFor the last 3 months I’ve been “planning” my automation system. Watching tutorials. Refactoring code that already worked. Redesigning the dashboard again and again.\n\nBut no real users.\n\nLast week I forced myself to deploy the MVP — even though it wasn’t perfect.\n\nNo fancy UI.\nNo advanced AI ranking.\nNo vector database.\n\nJust:\n\nResume upload\n\nSkill extraction\n\nMissing skills detection\n\nLearning resource recommendations\n\nThat’s it.\n\nAnd guess what?\n\nIt worked.\n\nNot perfectly. But enough to get feedback.\n\nOne user told me:\n“This is actually useful. I didn’t know I was missing system design.”\n\nThat one message was worth more than all my “perfect architecture” planning.\n\nHere’s what I learned:\n\nPerfect systems don’t make money. Useful ones do.\n\nShipping creates clarity. Planning creates comfort.\n\nReal feedback beats imagined improvements.\n\nNow I’m rebuilding it properly:\n\nSmarter ranking\n\nCleaner recommendation flow\n\nBetter AI prompts\n\nProduction-ready backend\n\nBut this time with users in mind — not ego.\n\nIf you’re building something right now and waiting for it to be “ready”…\n\nShip it messy.\n\nYou’ll refine it faster in public than in private.\n\n</ExamplePost>\n\n<Article>\n{{ $json.text }}\n</Article>",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        848
      ],
      "id": "4928e96e-3f0b-43fb-a726-071d8602c60d",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        1904
      ],
      "id": "a195ccd1-07d3-4bdf-9e87-463698653b8e",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "HMdwPvlUWsamlZcx",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "jigarbatli7@gmail.com",
        "subject": "[action needed] Linkedin post approval",
        "message": "={{ $json.linkedin_post }}\n",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you want to approve?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No-I'll add my change requests below"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Change requests",
              "fieldType": "textarea",
              "placeholder": "Add your change requests here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        1280
      ],
      "id": "61a211bb-3263-47c5-be40-b662dd318c14",
      "name": "Send a message",
      "webhookId": "053e59e6-7ce7-4c2c-aae1-114524a32781",
      "credentials": {
        "gmailOAuth2": {
          "id": "1AgrhdxElJ8NbYgx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce288ad0-2940-4f0b-952f-d01ce63f1d78",
              "leftValue": "={{ $json.data['Do you want to approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        1280
      ],
      "id": "016126f6-fd89-4f7c-8a2f-3d78cae99d55",
      "name": "If"
    },
    {
      "parameters": {
        "person": "BX08FO4Mrv",
        "text": "={{ $('Edit Fields1').item.json.linkedin_post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1840,
        1264
      ],
      "id": "2f016c8b-4b3f-4496-8a6f-8a3232a0a8d1",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "TGQM5drEpw3ez8Vo",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Apply the modification requests on the followig Linkedin post. Besides applying the requested modifications , return the same linkedin post.\n\n\nLinkedin post :\n```\n{{ $('Edit Fields1').item.json.linkedin_post }}\n```\nChange requests :\n\n{{ $json.data['Change requests'] }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        928,
        1680
      ],
      "id": "4507b9ac-b4a7-40c4-8d9a-793f3fbe3425",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"modified_output\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1072,
        1936
      ],
      "id": "21579044-f5df-4d62-a5e3-9b7bf93a1fd0",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ee72a90-c8d5-4668-82c2-5f3f876ec159",
              "name": "linkedin_post",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        1280
      ],
      "id": "58102133-a1fb-4885-9685-398bf7d8285f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6643bb8-d50d-4bc4-a8cb-bd98a3a158d2",
              "name": "text",
              "value": "={{ $json.output.modified_output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        1680
      ],
      "id": "07011a48-d8b0-4c40-80fc-a2135ff2b9a2",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Gather news articles \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "09fabc2d-050d-4e2b-8edc-061e8d890083",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Download article content\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        320
      ],
      "id": "b0896a06-cfa1-4e25-b5bf-f7cc1e703953",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Create Linkedin post content\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        752
      ],
      "id": "55c6c5e2-54dd-43b7-a075-da99343202f1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Approval Process\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        1184
      ],
      "id": "8d2fe49e-3bf2-4298-a3f3-2335f5dadcdd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Edit the post\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 80,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        1584
      ],
      "id": "647d304a-38ca-4c94-b075-d50319767c89",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Post to LinkedIn\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 288,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        1168
      ],
      "id": "bde99268-54a9-453f-ac38-999f82902bce",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eb290040-722a-4c34-b74f-06510076ae03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecfd529ad75e5be248e7a7a4fae8531e593322b9f726af1e1d524e74cbf075dc"
  },
  "id": "n7CoNKn9edbugtom",
  "tags": []
}